/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "GFASTATS|MERQURYFK_MERQURYFK|SANGER_TOL_BTK|SANGER_TOL_CPRETEXT" {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GFASTATS {
        ext.args            = '--nstar-report'
    }

    withName: MERQURYFK_MERQURYFK {
        ext.args            = "-P."
    }

    withName: SAMTOOLS_SORT {
        ext.prefix          = { "${meta.id}_sorted"}
    }

    withName: SANGER_TOL_BTK {
        ext.pipeline_name   = "sanger-tol/blobtoolkit"
        ext.args            = ""
        ext.executor        = "bsub -Is -tty -e test.e -o test.log -n 2 -q oversubscribed -M1400 -R'select[mem>1400] rusage[mem=1400] span[hosts=1]'"
        ext.profiles        = "singularity,sanger"
        ext.get_versions    = "lsid | head -n1 | cut -d ',' -f 1"
        ext.version         = "draft_assemblies"
    }

    withName: SANGER_TOL_CPRETEXT {
        ext.pipeline_name   = "sanger-tol/curationpretext"
        ext.args            = ""
        ext.executor        = "bsub -Is -tty -e test.e -o test.log -n 2 -q oversubscribed -M1400 -R'select[mem>1400] rusage[mem=1400] span[hosts=1]'"
        ext.profiles        = "singularity,sanger"
        ext.get_versions    = "lsid | head -n1 | cut -d ',' -f 1"
        ext.version         = "1.0.0"
    }

}
