/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow production config file for running production work for sanger-tol
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/ear -profile sanger-tol,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: SANGER_TOL_BTK {
        queue       = "oversubscribed"
        cpus        = { 2 }
        memory      = { 1200.MB * task.attempt  }
        time        = { 96.h    * task.attempt  }
    }

    withName: SANGER_TOL_CPRETEXT {
        queue       = "oversubscribed"
        cpus        = { 2 }
        memory      = { 1200.MB * task.attempt  }
        time        = { 96.h    * task.attempt  }
    }
}
