// We have determined that using dust is not suitable for our usecase, so we will remove it from the BLAST_BLASTN configuration.
process {
    withName: "BLAST_BLASTN" {
        ext.args = "-task megablast -outfmt '6 qseqid staxids bitscore std' -max_target_seqs 10 -max_hsps 1 -evalue 1.0e-10 -lcase_masking -dust no"
    }
}
