process {
    withName: "BLOBTOOLKIT_CHUNK" {
        // High complexity genomes, with alot of haplotypic dupes, low and high complexity repeats and such
        //ext.args = "--chunk 100000 --overlap 0 --max-chunks 20 --min-length 1000"

        // Standard arguments meant as a general rule of thumb
        ext.args = "--chunk 100000 --overlap 0 --max-chunks 10 --min-length 1000"
    }

    withName: "BLAST_BLASTN" {
        ext.args = "-task megablast -outfmt '6 qseqid staxids bitscore std' -max_target_seqs 5 -max_hsps 1 -evalue 1.0e-20 -lcase_masking -dust no"
    }

    withName: "BLASTN_TAXON | BLAST_BLASTN" {
        cpus   = 4
        memory = { 12.GB * task.attempt }
        time   = 12.h
    }
}
